package $package;

import org.jrebirth.core.command.DefaultPoolCommand;
import org.jrebirth.core.wave.Wave;

public class ${ClassName} extends DefaultPoolCommand
{

   @Override
   protected void execute(final Wave wave)
   {
   }
}