package $package;

import ${packageImport}.beans.${name};

import org.jrebirth.core.ui.DefaultObjectModel;

public class ${name}Model extends DefaultObjectModel<${name}Model, ${name}View, ${name}>
{

    /**
     * {@inheritDoc}
     */
    @Override
    protected void initModel() 
    {
    }

    /**
     * {@inheritDoc}
     */
    @Override
    protected void bind() 
    {
    }

    

}