package $package;

import org.jrebirth.core.exception.CoreException;
import org.jrebirth.core.service.ServiceBase;

public class ${name} extends ServiceBase
{

   @Override
   public void ready() throws CoreException
   {
   }
}